@import url(toggle-button.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a {
  color: black;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 15px 25px 15px;
  min-height: 100%;
  background: linear-gradient(0deg, rgba(8, 51, 78, 1) 0%, rgba(73, 121, 208, 1) 100%);
  background-attachment: fixed;
  --bright-font-color: aliceblue;
  --faint-font-color: rgb(170, 217, 255);
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header .title {
  justify-self: start;
}

.header .title * {
  color: white;
}

.search {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.1rem;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  font-size: 1rem;
  border-radius: 15px;
  border: 1px solid rgb(127, 127, 127);
  padding: 6px 12px;
  background-color: rgb(223, 223, 223);
  width: 300px;
}

.search-input:focus {
  outline: 1px solid black
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-icon {
  height: 1.25rem;
  margin-left: -30px;
  margin-top: 4px;
}

.search-error {
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 3px;
}

.units-toggle {
  justify-self: end;
}

.units-toggle button {
  width: 4.5rem;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0 100px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  color: var(--faint-font-color);
  font-size: 1rem;
}

.location .town {
  font-size: 3rem;
  margin-bottom: 10px;
  color: var(--bright-font-color);
}

.current {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.current-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-size: 1rem;
  color: var(--bright-font-color);
}

.current-main .temp {
  font-size: 2rem;
  margin-bottom: 5px;
}

.current-main .feelslike {
  color: var(--faint-font-color);
}

.current-main .condition-icon {
  height: 5rem;
  margin-bottom: -5px;
  user-select: none;
}

.current-other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.05rem;
}

.current-other > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.current-other .title {
  color: var(--faint-font-color)
}

.current-other .value {
  color: var(--bright-font-color)
}

.forecast-toggle button {
  font-size: 0.95rem;
  width: 5rem;
  margin-top: 30px;
}

.hourly,
.daily {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.hour,
.day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--bright-font-color);
}

.hour {
  gap: 1px;
  font-size: 0.9rem;
}

.day {
  gap: 5px;
  font-size: 1.2rem;
}

.hour > img {
  height: 2.5rem;
}

.day > img {
  height: 3.5rem;
}

.day .min-temp {
  font-size: 1rem;
}

.hour .chance-of-rain,
.day .chance-of-rain {
  color: var(--faint-font-color);
  font-size: 0.8rem;
}

.hour div,
.day div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hour div > img,
.day div > img {
  height: 0.9rem;
  filter: invert(79%) sepia(12%) saturate(1086%) hue-rotate(176deg) brightness(101%) contrast(103%);
}

/* FOOTER */

.footer {
  margin-top: 30px;
}

.footer * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--faint-font-color);
  font-size: 1rem;
  white-space: pre;
}

.footer a {
  color: var(--bright-font-color);
}

.footer a:nth-of-type(2) {
  font-weight: normal;
}

/* OVERRIDES */

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}