.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toggle-button button {
  font-size: 0.85rem;
  padding: 6px;
  background-color: rgb(223, 223, 223);
  outline: none;
  border: 1px solid black;
}

.toggle-button button.selected {
  background-color: rgb(127, 127, 127);
  color: white;
  font-weight: bold;
}

.toggle-button button:not(.selected) {
  cursor: pointer;
}

.toggle-button .toggle-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.toggle-button .toggle-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
