* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a {
  color: black;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-icon {
  height: 2em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.current {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.current-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.current-other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.current-other > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.forecast-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hourly,
.daily {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.hour,
.day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hour div,
.day div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hour div img,
.day div img {
  height: 1em;
}

.hidden {
  display: none;
}

.selected {
  border: 1px solid blue
}